@model System.Web.Mvc.HandleErrorInfo
@{
    
    ViewBag.Title = "Error";
}
<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.
    </div>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>